body{
    background-image: linear-gradient(rgb(7, 7, 40),black 60%);
	margin: 0;
	color: #5e9de9;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

  }
 
	main {
		padding: 1em;
		margin: 0 auto;
	}
	  @media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
	